POSTGRES_DB=devops_assessment
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=devops_assessment

AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
S3_ENDPOINT_URL=http://localhost:4566
S3_PUBLIC_ENDPOINT_URL=http://localhost:4566
S3_BUCKET_NAME=devops-assessment
PRESIGNED_URL_EXPIRATION_SECONDS=300

CORS_ORIGINS=http://localhost:8080
